################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/emplo/.vs
/emplo/obj
/emplo/bin/Debug/net8.0
/emplo/emplo.csproj
/emploTask2/bin/Debug/net8.0
/emploTask2/obj/Debug/net8.0/ref/emploTask2.dll
/emploTask2/obj
/emploTask2.Tests/obj
/emploTask2.Tests/bin/Debug/net8.0
